In [1]:
# !conda install sqlalchemy --y

In [1]:
# !pip install pymysql

In [2]:
# !pip install cmake cython

In [3]:
# !pip install networkit

In [4]:
import pandas as pd
import sqlalchemy as sql
import numpy as np
import igraph as ig

In [5]:
# connect_string = 'mysql+pymysql://ckg:Admin123@10.200.106.114/umls'
# # 10.200.106.114

In [6]:
connect_string = 'mysql+pymysql://root:Admin123@127.0.0.1/umls'
# 10.200.106.114

In [7]:
sql_engine = sql.create_engine(connect_string)

In [8]:
## Concept

In [9]:
# !pip install igraph

In [10]:
# ig.__version__

In [11]:
import os
os.getcwd()

'/home/wt/Code/snomed'

In [12]:
## Check semantics networks

### UMLS semantic networks

There are two weakly connected components in the network, one for semantic types and the other for relations. In the relations, associated_with has the highest in-degree, meaning that many relations isa associated_with. See below plot:  
![semantic_networks](img/semantic_networks.png)

Also, there are multiple links between the same node pairs. 

The network structure for relations in semantic networks is below, where each link denotes an 'isa' relation, and 'isa' is NOT included in the relation network. 

![sn_relations](img/sn_relations.png)

In [32]:
# UMLS semantic netowrks: SRSTRE2. 
query = '''SELECT * FROM SRSTRE2'''

df = pd.read_sql_query(query, sql_engine)

In [33]:
df.head()

                   STY1       RL       STY2
0  Acquired Abnormality  affects  Amphibian
1  Acquired Abnormality  affects     Animal
2  Acquired Abnormality  affects   Archaeon
3  Acquired Abnormality  affects  Bacterium
4  Acquired Abnormality  affects       Bird

In [34]:
# df[df['STY2']=='associated_with']

In [35]:
# df[['STY1', 'STY2', 'RL']]

In [36]:
# set(df['RL'])

In [37]:
df.to_csv('data/semantic_networks.csv')

In [16]:
g = ig.Graph.DataFrame(df[['STY1', 'STY2', 'RL']], directed=True)

In [17]:
components = g.clusters(mode='weak')

In [18]:
components.subgraphs()

In [19]:
esg = components.subgraphs()[0]

In [20]:
len(set(esg.es['RL']))

49

In [21]:
sg = components.subgraphs()[1]

In [22]:
sg.summary()

'IGRAPH DN-- 53 112 -- \n+ attr: name (v), RL (e)'

In [23]:
set(sg.vs['name']) - set(esg.es['RL'])

{'brings_about',
 'functionally_related_to',
 'physically_related_to',
 'spatially_related_to',
 'temporally_related_to'}

In [24]:
sgs = sg.subgraph([v for v in sg.vs if v['name'] in set(esg.es['RL'])])

In [25]:
sgs.summary()

'IGRAPH DN-- 48 71 -- \n+ attr: name (v), RL (e)'

In [26]:
sgs.vs['kcore'] = sgs.coreness(mode='all')

In [30]:
sgs.vs.select(kcore_ge=2)['name']

['affects',
 'analyzes',
 'assesses_effect_of',
 'associated_with',
 'carries_out',
 'complicates',
 'conceptual_part_of',
 'conceptually_related_to',
 'degree_of',
 'derivative_of',
 'developmental_form_of',
 'diagnoses',
 'disrupts',
 'evaluation_of',
 'exhibits',
 'interacts_with',
 'issue_in',
 'manages',
 'measurement_of',
 'measures',
 'method_of',
 'occurs_in',
 'performs',
 'practices',
 'prevents',
 'process_of',
 'property_of',
 'treats']

In [28]:
1-450/519

0.1329479768786127

In [16]:
g.write_graphml('data/semantic_network.graphml')

### 1. UMLS SCUI (SNOMED)

In [10]:
# Unique name of CUI is "TTY='PN'"
# Unique name of SUIC is TTY='FN', not all ontologies has FN

In [11]:
# Snomed SCUI. 
query = '''SELECT * FROM MRCONSO WHERE TTY='FN' and SAB ='SNOMEDCT_US'
'''

df = pd.read_sql_query(query, sql_engine)

In [12]:
df.sample(3)

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
187044,C1278968,ENG,S,L2870495,PF,S3279688,Y,A3417827,564631018,181389002,None,SNOMEDCT_US,FN,181389002,Entire axillary vein (body structure),9,N,NaN
252343,C0058678,ENG,S,L2821026,PF,S3425691,Y,A3573117,807717010,67938008,None,SNOMEDCT_US,FN,67938008,Amnesic shellfish poison (substance),9,N,NaN
198203,C0406948,ENG,S,L2859586,PF,S3304012,Y,A3442756,560961019,178094008,None,SNOMEDCT_US,FN,178094008,Excision or aspiration of ganglion (procedure),9,N,NaN

In [8]:
df['SUPPRESS'].value_counts()

N    346950
Name: SUPPRESS, dtype: int64

In [9]:
df.shape

(346950, 18)

In [24]:
g = df.groupby('SCUI')['STR'].apply(lambda x: len(list(np.unique(x))))

In [25]:
scui_df = g.reset_index()

In [12]:
scui_df['STR'].unique()

array([1])

In [26]:
df.sample(3)

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
149453,C0202709,ENG,S,L2914990,PF,S3256257,Y,A3392814,808127013,68306006,None,SNOMEDCT_US,FN,68306006,Diagnostic radiography of facial bones (proced...,9,N,NaN
13030,C1997906,ENG,S,L6922682,PF,S8058733,Y,A13373321,2689493010,428397008,None,SNOMEDCT_US,FN,428397008,Extension Namespace {1000062} (namespace concept),9,N,NaN
315032,C0301512,ENG,S,L3124616,PF,S3611124,Y,A3777544,1204226018,669007,None,SNOMEDCT_US,FN,669007,Vaccinia virus vaccine (product),9,N,NaN

In [13]:
df.to_csv('data/subconcepts.csv', index=None)

In [19]:
df = pd.read_csv('data/subconcepts.csv')

In [20]:
df.shape

(346950, 18)

In [7]:
df['SAB'].unique()

array(['SNOMEDCT_US'], dtype=object)

In [8]:
df.head()

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,C0319824,ENG,S,L2931276,PF,S3204998,Y,A10868589,2615359012,420643001,NaN,SNOMEDCT_US,FN,420643001,Caloscypha fulgens (organism),9,N,NaN
1,C0006864,ENG,S,L2932443,PF,S3205841,Y,A10868616,2615311012,421921003,NaN,SNOMEDCT_US,FN,421921003,Cannabinoid (substance),9,N,NaN
2,C0201945,ENG,S,L2949850,PF,S3213573,Y,A10868693,2612635015,77161005,NaN,SNOMEDCT_US,FN,77161005,Cerebrospinal fluid protein electrophoresis (p...,9,N,NaN
3,C0013336,ENG,S,L2973626,PF,S3235999,Y,A10868877,2615646014,422065006,NaN,SNOMEDCT_US,FN,422065006,Constitutional short stature (disorder),9,N,2048.0
4,C0600203,ENG,S,L2792355,PF,S3257200,Y,A10869342,2615319014,421675006,NaN,SNOMEDCT_US,FN,421675006,Dichloroacetic acid (substance),9,N,NaN

In [9]:
g = df.groupby('SCUI')['CUI'].apply(lambda x: len(list(np.unique(x))))

In [10]:
scui_df = g.reset_index()

In [12]:
scui_df['CUI'].unique()

array([1])

### UMLS SCUI (ICD-9)

In [115]:
# For the full list of Vocabulary: https://www.nlm.nih.gov/research/umls/sourcereleasedocs/index.html

In [165]:
# ICD SCUI. 
query = '''SELECT * FROM MRCONSO WHERE SAB IN ('ICD9CM') AND SUPPRESS='N'
'''
df = pd.read_sql_query(query, sql_engine)
#'ICD10' , 'ICD9CM', 'ICD10CM')
# AND TTY='PT'

In [166]:
df.sample(3)

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
4700,C2349612,ENG,P,L7963409,PF,S9304765,Y,A15575190,None,None,679.14,ICD9CM,PT,679.14,"Fetal complications from in utero procedure, p...",0,N,NaN
19511,C0007107,ENG,S,L0590659,PF,S0683819,N,A8360540,None,None,161.9,ICD9CM,PT,161.9,"Malignant neoplasm of larynx, unspecified",0,N,NaN
9004,C0154529,ENG,P,L10834168,PF,S13470477,N,A20885200,None,None,305.43,ICD9CM,PT,305.43,"Sedative, hypnotic or anxiolytic abuse, in rem...",0,N,NaN

In [167]:
df['SUPPRESS'].value_counts()

N    22406
Name: SUPPRESS, dtype: int64

In [168]:
df['CODE'].nunique()

22406

In [169]:
df[df['SUPPRESS']=='N']['CODE'].nunique()

22406

In [170]:
df[df['CODE'] =='V76.5']

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
3850,C0878740,ENG,P,L1719670,PF,S1967095,Y,A8377314,None,None,V76.5,ICD9CM,HT,V76.5,Screening for malignant neoplasms of intestine,0,N,256.0

In [171]:
df.shape

(22406, 18)

In [172]:
g = df.groupby('CODE')['STR'].apply(lambda x: len(list(np.unique(x))))

In [173]:
scui_df = g.reset_index()

In [174]:
scui_df

           CODE  STR
0            00    1
1      00-00.99    1
2      00-99.99    1
3          00.0    1
4         00.01    1
...         ...  ...
22401     V91.9    1
22402    V91.90    1
22403    V91.91    1
22404    V91.92    1
22405    V91.99    1

[22406 rows x 2 columns]

In [176]:
scui_df['STR'].unique()

array([1])

In [180]:
df[df['CODE'] =='V91.99']

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF,other_scui
5089,C2921366,ENG,P,L9444086,PF,S11733140,Y,A18090781,None,None,V91.99,ICD9CM,PT,V91.99,"Other specified multiple gestation, unable to ...",0,N,NaN,V9199

In [181]:
df['other_scui'] = df['CODE'].str.replace('.', '')

In [182]:
df.to_csv('data/icd9-subconcepts.csv', index=None)

In [183]:
df = pd.read_csv('data/icd9-subconcepts.csv')

In [184]:
df.shape

(22406, 19)

In [185]:
df['SAB'].unique()

array(['ICD9CM'], dtype=object)

In [186]:
df.head()

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF,other_scui
0,C0002873,ENG,P,L0002873,PF,S0000506,N,A10862869,NaN,NaN,285.2,ICD9CM,HT,285.2,Anemia of chronic disease,0,N,256.0,2852
1,C0002726,ENG,P,L0002726,PF,S0013420,N,A10862875,NaN,NaN,277.3,ICD9CM,HT,277.3,Amyloidosis,0,N,256.0,2773
2,C0027947,ENG,P,L0027947,PF,S0066573,N,A10862879,NaN,NaN,288.0,ICD9CM,HT,288.0,Neutropenia,0,N,256.0,2880
3,C0027632,ENG,P,L0027632,PF,S0217799,N,A10862882,NaN,NaN,238.7,ICD9CM,HT,238.7,Neoplasm of uncertain behavior of other lympha...,0,N,NaN,2387
4,C0702159,ENG,P,L0003575,PF,S0217910,N,A10862883,NaN,NaN,284.0,ICD9CM,HT,284.0,Constitutional aplastic anemia,0,N,256.0,2840

In [187]:
g = df.groupby('CODE')['CUI'].apply(lambda x: len(list(np.unique(x))))

In [188]:
scui_df = g.reset_index()

In [189]:
scui_df['CUI'].unique()

array([1])

In [190]:
scui_df.head()

       CODE  CUI
0        00    1
1  00-00.99    1
2  00-99.99    1
3      00.0    1
4     00.01    1

In [191]:
scui_df['CUI'].unique()

array([1])

### Subconcepts (ICD-10)

In [230]:
# ICD SCUI. 
query = '''SELECT * FROM MRCONSO WHERE SAB IN ('ICD10') AND SUPPRESS='N' 
'''
df = pd.read_sql_query(query, sql_engine)
#'ICD10' , 'ICD9CM', 'ICD10CM')
# AND TTY='PT',

In [231]:
# # ICD SCUI. 
# query = '''SELECT * FROM MRCONSO WHERE SAB IN ('ICD10CM') AND SUPPRESS='N' 
# '''
# df2 = pd.read_sql_query(query, sql_engine)
# #'ICD10' , 'ICD9CM', 'ICD10CM')
# # AND TTY='PT',

In [232]:
# set(df2['CODE']).intersection( set(df['CODE']) )

In [233]:
# set(df['CODE']) - set(df2['CODE'])

In [234]:
df.sample(3)

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
1768,C0694481,ENG,P,L1217572,PF,S1458487,Y,A1411733,None,None,None,ICD10,HT,H03,Disorders of eyelid in diseases classified els...,3,N,NaN
3543,C0549150,ENG,S,L0375030,VC,S0507053,N,A0578793,None,None,None,ICD10,PT,L73.1,Pseudofolliculitis barbae,3,N,256.0
5265,C0476526,ENG,S,L0661171,PF,S0793007,Y,A0852144,None,None,None,ICD10,PT,R86.0,Abnormal findings in specimens from male genit...,3,N,NaN

In [235]:
df['SUPPRESS'].value_counts()

N    12318
Name: SUPPRESS, dtype: int64

In [236]:
df['CODE'].nunique()

12318

In [237]:
# df[df['SUPPRESS']=='N']['CODE'].nunique()

In [238]:
g = df.groupby('CODE')['STR'].apply(lambda x: len(list(np.unique(x))))

In [239]:
scui_df = g.reset_index()

In [240]:
scui_df

            CODE  STR
0            A00    1
1      A00-A09.9    1
2      A00-B99.9    1
3          A00.0    1
4          A00.1    1
...          ...  ...
12313      Z99.1    1
12314      Z99.2    1
12315      Z99.3    1
12316      Z99.8    1
12317      Z99.9    1

[12318 rows x 2 columns]

In [241]:
scui_df['STR'].unique()

array([1])

In [242]:
scui_df[scui_df['STR'] ==2]

Empty DataFrame
Columns: [CODE, STR]
Index: []

In [243]:
df[df['CODE'] =='C00.0']

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
11943,C0474962,ENG,S,L0571257,PF,S0940554,Y,A0996398,None,None,None,ICD10,PX,C00.0,Malignant neoplasm of external upper lip,3,N,256.0

In [244]:
df.to_csv('data/icd10-subconcepts.csv', index=None)

In [245]:
df = pd.read_csv('data/icd10-subconcepts.csv')

In [246]:
df.shape

(12318, 18)

In [247]:
df['SAB'].unique()

array(['ICD10'], dtype=object)

In [248]:
df.head()

,CUI,LAT,TS,LUI,STT,SUI,ISPREF,AUI,SAUI,SCUI,SDUI,SAB,TTY,CODE,STR,SRL,SUPPRESS,CVF
0,C0026106,ENG,P,L0026106,VC,S0000001,N,A0000002,NaN,NaN,NaN,ICD10,HT,F70,Mild mental retardation,3,N,256.0
1,C0026351,ENG,S,L0026351,PF,S0000002,N,A0000008,NaN,NaN,NaN,ICD10,HT,F71,Moderate mental retardation,3,N,NaN
2,C0036857,ENG,S,L0036857,PF,S0000003,N,A0000014,NaN,NaN,NaN,ICD10,HT,F72,Severe mental retardation,3,N,256.0
3,C0020796,ENG,P,L0033296,VC,S0000004,N,A0000020,NaN,NaN,NaN,ICD10,HT,F73,Profound mental retardation,3,N,256.0
4,C0025362,ENG,S,L0080273,PF,S0000005,N,A0000026,NaN,NaN,NaN,ICD10,HT,F79,Unspecified mental retardation,3,N,NaN

In [249]:
g = df.groupby('CODE')['CUI'].apply(lambda x: len(list(np.unique(x))))

In [250]:
scui_df = g.reset_index()

In [251]:
scui_df['CUI'].unique()

array([1])

In [252]:
scui_df.head()

        CODE  CUI
0        A00    1
1  A00-A09.9    1
2  A00-B99.9    1
3      A00.0    1
4      A00.1    1

In [253]:
scui_df['CUI'].unique()

array([1])

## 2. UMLS Concepts and their prefered names

### 2.1 TUI: definition of semantic types

In [22]:
# https://www.ncbi.nlm.nih.gov/books/NBK9679/table/ch05.T.srdef/. STY = Semantic Type or RL = Relation 
query = "SELECT DISTINCT UI, STY_RL, STN_RTN, DEF FROM SRDEF WHERE RT = 'STY'"

In [23]:
df = pd.read_sql_query(query, sql_engine)

In [24]:
df.head()

,UI,STY_RL,STN_RTN,DEF
0,T001,Organism,A1.1,"Generally, a living individual, including all ..."
1,T002,Plant,A1.1.3.3,"An organism having cellulose cell walls, growi..."
2,T004,Fungus,A1.1.3.2,A eukaryotic organism characterized by the abs...
3,T005,Virus,A1.1.4,An organism consisting of a core of a single n...
4,T007,Bacterium,A1.1.2,"A small, typically one-celled, prokaryotic mic..."

In [25]:
df.to_csv('data/TUI.csv', index=None)

### 2.2 TUI relations

In [42]:
# SRSTRE1.UI2 = 'T186': isa relation. 
query = '''
SELECT DISTINCT UI1, UI2, UI3 FROM SRSTRE1 INNER JOIN (SELECT DISTINCT UI from SRDEF WHERE RT = 'STY') as Semantics 
ON SRSTRE1.UI1 = Semantics.UI WHERE SRSTRE1.UI2 = 'T186'
'''

In [43]:
df = pd.read_sql_query(query, sql_engine)

In [44]:
df.head()

    UI1   UI2   UI3
0  T001  T186  T071
1  T001  T186  T072
2  T002  T186  T001
3  T002  T186  T071
4  T002  T186  T072

In [39]:
df.to_csv('data/TUIRel.csv', index=None)

### 2.3 CUI

In [45]:
query = '''
SELECT DISTINCT CUI, STR, SAB, SUPPRESS from MRCONSO where MRCONSO.ISPREF = 'Y' 
AND MRCONSO.STT = 'PF' AND MRCONSO.TS = 'P' and MRCONSO.LAT = 'ENG'
'''

In [46]:
df = pd.read_sql_query(query, sql_engine)

In [47]:
df.head()

        CUI                   STR  SAB SUPPRESS
0  C0011251   Delusional disorder  MTH        N
1  C0030540  Parent-child problem  MTH        N
2  C0042721       Viral hepatitis  MTH        N
3  C0040255       Tinea imbricata  MTH        N
4  C0342122  Toxic diffuse goiter  MTH        N

In [48]:
df['SUPPRESS'].unique()

array(['N', 'O', 'Y', 'E'], dtype=object)

In [49]:
df.to_csv('data/CUIs.csv', index=None)

In [50]:
# # Based on https://www.nlm.nih.gov/research/umls/implementation_resources/query_diagrams/er1.html 
# query = '''
# SELECT * FROM MRCONSO WHERE TS = 'P'
#      AND STT = 'PF'
#      AND ISPREF = 'Y'
#      AND LAT = 'ENG'
# '''
# df = pd.read_sql_query(query, sql_engine)

In [51]:
# df.head()

In [17]:
# g = con.groupby('CUI')['STR'].apply(lambda x: ' | '.join(list(np.unique(x))))

In [52]:
# g = df.groupby('CUI')['STR'].apply(lambda x: len(list(np.unique(x))))

In [53]:
# cui_df = g.reset_index()

In [54]:
# cui_df['STR'].unique()

In [55]:
# cui_df[cui_df['STR'] >1]

In [56]:
# df.shape

In [57]:
# df['SUPPRESS'].value_counts()

In [58]:
# df.to_csv('data/concepts.csv', index=None)

### 2.4 CUI-TUI

## Relation

### All reltionships

In [5]:
# There are some relations with DIR=NULL, Y, N
# There are only N or O in SUPPRESS
# https://www.ncbi.nlm.nih.gov/books/NBK9684/
# Relationships may be suppressible if considered obsolete, which is indicated by a value of O in the SUPPRESS field.
# There are duplicated relations if without (SUPPRESS='N')
# there is no informative ralations if without RELA 
# If withou DIR, there inverse relationships. 
query = '''
select * from umls.MRREL where (DIR='Y' or DIR IS NULL) AND (SUPPRESS='N') AND (RELA is not null)
'''

df = pd.read_sql_query(query, sql_engine)

In [6]:
# query = "SELECT * FROM umls.SRDEF WHERE rt = 'RL'"
# rel_type = pd.read_sql_query(query, sql_engine)

In [7]:
df['DIR'].value_counts(dropna=False)

NaN    23914946
Y       2537330
Name: DIR, dtype: int64

In [8]:
df.shape

(26452276, 16)

In [9]:
df[df['DIR'].isna()].head()

,CUI1,AUI1,STYPE1,REL,CUI2,AUI2,STYPE2,RELA,RUI,SRUI,SAB,SL,RG,DIR,SUPPRESS,CVF
2016,C0025294,A0000677,AUI,RO,C0694469,A1411710,AUI,icd_asterisk,R00987462,None,ICD10AM,ICD10AM,None,None,N,NaN
2017,C0041318,A0239827,AUI,RO,C0694469,A1411710,AUI,icd_asterisk,R00987463,None,ICD10AM,ICD10AM,None,None,N,NaN
2018,C0029871,A0240092,AUI,RO,C0348522,A0679047,AUI,icd_asterisk,R00987464,None,ICD10AM,ICD10AM,None,None,N,NaN
2019,C0039130,A0240174,AUI,RO,C0039130,A0240175,AUI,icd_asterisk,R00987465,None,ICD10AM,ICD10AM,None,None,N,NaN
2020,C0039130,A0240175,AUI,RO,C0039130,A0240174,AUI,icd_asterisk,R00987466,None,ICD10AM,ICD10AM,None,None,N,NaN

In [10]:
df['SUPPRESS'].value_counts(dropna=False)

N    26452276
Name: SUPPRESS, dtype: int64

In [11]:
# df[df['SUPPRESS'] == 'O'].sample(10)

In [12]:
# df = df[df['SUPPRESS'] == 'N']

## Remove duplicated relations

In [13]:
df = df.sort_values(by=['CUI1', 'CUI2'])

In [14]:
df.head()

,CUI1,AUI1,STYPE1,REL,CUI2,AUI2,STYPE2,RELA,RUI,SRUI,SAB,SL,RG,DIR,SUPPRESS,CVF
296480,C0000039,A11754881,AUI,SY,C0000039,A0016515,AUI,has_translation,R101796151,None,MSHSWE,MSHSWE,None,None,N,NaN
308025,C0000039,A0016515,AUI,SY,C0000039,A11754881,AUI,translation_of,R101808683,None,MSHSWE,MSHSWE,None,None,N,NaN
780271,C0000039,A13517167,AUI,SY,C0000039,A8009316,AUI,has_transliterated_form,R106649790,None,MSHRUS,MSHRUS,None,None,N,NaN
787066,C0000039,A8009316,AUI,SY,C0000039,A13517167,AUI,transliterated_form_of,R106656931,None,MSHRUS,MSHRUS,None,None,N,NaN
809414,C0000039,A16467622,AUI,SY,C0000039,A7480660,AUI,has_sort_version,R106707842,None,MSHGER,MSHGER,None,None,N,NaN

In [15]:
# df[df.duplicated(['CUI1', 'CUI2', 'RELA'])]

In [16]:
# remove  duplicated relationships
df = df.drop_duplicates(['CUI1', 'CUI2', 'RELA'])

In [17]:
df.shape

(16252514, 16)

In [18]:
# remove self link
df = df[df['CUI1'] != df['CUI2']]

In [19]:
df.shape

(14548762, 16)

In [20]:
# remove null relations
# df = df[df['RELA'].isna()==False]

In [21]:
df.shape

(14548762, 16)

In [22]:
df['RELA'].unique()

array(['mapped_to', 'has_component', 'measures', 'parent_of', 'form_of',
       'exhibited_by', 'inverse_isa', 'see', 'has_causative_agent',
       'entry_combination_of', 'see_from', 'isa', 'used_for',
       'has_direct_substance', 'replaced_by', 'subset_includes_concept',
       'same_as', 'has_tradename', 'has_ingredient',
       'precise_ingredient_of', 'mapping_qualifier_of', 'mapped_from',
       'may_be_prevented_by', 'may_be_treated_by',
       'has_contraindicated_drug', 'has_member',
       'chemotherapy_regimen_has_component', 'has_product_component',
       'has_basis_of_strength_substance', 'has_active_ingredient',
       'has_precise_active_ingredient', 'use', 'tradename_of',
       'has_active_moiety', 'lab_number_of', 'has_part', 'contains',
       'physiologic_effect_of', 'mechanism_of_action_of',
       'chemical_structure_of', 'structural_class_of',
       'has_inactive_ingredient',
       'biological_process_involves_gene_product',
       'is_biochemical_function_of_gene_product',
       'has_contraindicating_class', 'contraindicated_class_of',
       'has_free_acid_or_base_form', 'has_fragments_for_synonyms',
       'gene_product_has_chemical_classification',
       'has_precise_ingredient', 'has_form', 'has_salt_form',
       'has_active_metabolites',
       'is_physiologic_effect_of_chemical_or_drug', 'metabolic_site_of',
       'is_mechanism_of_action_of_chemical_or_drug', 'is_modification_of',
       'has_finding_site', 'part_of', 'sib_in_part_of', 'sib_in_isa',
       'related_part', 'has_direct_procedure_site', 'has_procedure_site',
       'has_indirect_procedure_site', 'has_regional_part', 'has_system',
       'analyzes', 'regional_part_of', 'has_answer',
       'has_imaged_location', 'constitutional_part_of',
       'has_possibly_included_procedure_site',
       'has_specimen_source_topography', 'classifies',
       'contraindicated_with_disease', 'primary_mapped_to',
       'classified_as', 'possibly_equivalent_to', 'has_focus',
       'cdrh_parent_of', 'has_defining_characteristic', 'nichd_parent_of',
       'has_manifestation', 'has_associated_finding',
       'disease_may_have_finding', 'related_to', 'may_treat',
       'has_alternative', 'was_a', 'primary_mapped_from', 'evaluation_of',
       'has_definitional_manifestation',
       'has_physical_part_of_anatomic_structure',
       'is_location_of_anatomic_structure', 'member_of',
       'has_constitutional_part',
       'anatomic_structure_is_physical_part_of',
       'disease_has_primary_anatomic_site', 'has_nerve_supply',
       'gene_found_in_organism', 'manifestation_of',
       'inheritance_type_of', 'has_phenotype', 'due_to',
       'has_associated_morphology', 'has_direct_morphology',
       'has_risk_factor', 'has_nichd_parent', 'has_pathology',
       'has_cdrh_parent', 'disease_excludes_finding',
       'disease_has_finding', 'associated_with',
       'has_indirect_morphology', 'has_procedure_morphology',
       'has_mapping_qualifier', 'has_entry_combination', 'may_prevent',
       'occurs_after', 'induces', 'other_mapped_to', 'other_mapped_from',
       'is_associated_anatomic_site_of', 'is_finding_of_disease',
       'has_possibly_included_pathology',
       'has_specimen_source_morphology', 'is_object_guidance_for',
       'gene_associated_with_disease',
       'is_primary_anatomic_site_of_disease', 'branch_of', 'interprets',
       'is_location_of_biological_process', 'has_imaging_focus',
       'enzyme_metabolizes_chemical_or_drug', 'pharmacokinetics_of',
       'has_chemical_structure', 'has_structural_class',
       'contraindicating_class_of', 'has_contraindicated_class',
       'contraindicating_physiologic_effect_of',
       'has_contraindicated_physiologic_effect', 'uses_substance',
       'has_divisor', 'gene_product_plays_role_in_biological_process',
       'gene_plays_role_in_process', 'therapeutic_class_of',
       'may_be_diagnosed_by', 'may_diagnose',
       'is_normal_tissue_origin_of_disease', 'gene_encodes_gene_product',
       'process_includes_biological_process',
       'process_initiates_biological_process', 'sib_in_branch_of',
       'has_branch', 'is_normal_cell_origin_of_disease',
       'disease_may_have_associated_disease',
       'disease_has_associated_disease',
       'is_associated_anatomy_of_gene_product',
       'gene_product_has_biochemical_function', 'negatively_regulates',
       'positively_regulates', 'regulates', 'modifies', 'has_method',
       'consider', 'is_structural_domain_or_motif_of_gene_product',
       'has_alias', 'has_gene_product_element',
       'gene_product_malfunction_associated_with_disease',
       'is_abnormal_cell_of_disease', 'eo_disease_maps_to_human_disease',
       'is_not_abnormal_cell_of_disease', 'is_not_finding_of_disease',
       'is_not_primary_anatomic_site_of_disease',
       'excised_anatomy_has_procedure', 'target_anatomy_has_procedure',
       'has_associated_procedure', 'procedure_has_excised_anatomy',
       'procedure_has_partially_excised_anatomy',
       'may_be_finding_of_disease',
       'is_not_normal_cell_origin_of_disease',
       'is_not_normal_tissue_origin_of_disease',
       'has_given_pharmaceutical_substance', 'has_challenge',
       'is_chemical_classification_of_gene_product',
       'chemical_or_drug_affects_gene_product',
       'associated_with_malfunction_of_gene_product', 'has_parent',
       'ingredient_of', 'biological_process_has_result_chemical_or_drug',
       'uses_device', 'has_possibly_included_procedure_device',
       'has_direct_device', 'gene_product_expressed_in_tissue',
       'disease_has_normal_tissue_origin', 'has_diagnostic_criteria',
       'has_route_of_administration', 'occurs_in',
       'has_at_risk_population', 'disease_excludes_normal_tissue_origin',
       'disease_has_metastatic_anatomic_site',
       'disease_has_associated_anatomic_site',
       'disease_excludes_primary_anatomic_site',
       'procedure_may_have_excised_anatomy',
       'gene_product_has_associated_anatomy', 'is_associated_disease_of',
       'associated_procedure_of', 'has_specimen_procedure',
       'is_organism_source_of_gene_product', 'active_ingredient_of',
       'has_patient_type', 'has_recipient_category',
       'contraindicating_mechanism_of_action_of',
       'has_contraindicated_mechanism_of_action', 'has_conceptual_part',
       'conceptual_part_of',
       'biological_process_results_from_biological_process',
       'is_not_cytogenetic_abnormality_of_disease',
       'may_be_cytogenetic_abnormality_of_disease',
       'gene_mapped_to_disease',
       'gene_involved_in_pathogenesis_of_disease',
       'is_not_molecular_abnormality_of_disease',
       'may_be_molecular_abnormality_of_disease',
       'diagnostic_criteria_of', 'uses_possibly_included_substance',
       'has_specimen_substance',
       'has_possibly_included_associated_finding', 'has_related_factor',
       'has_associated_condition', 'replaces', 'refers_to',
       'has_sign_or_symptom', 'has_dose_form',
       'tissue_is_expression_site_of_gene_product',
       'biomarker_type_includes_gene_product',
       'gene_product_affected_by_chemical_or_drug', 'has_clinician_form',
       'alias_of', 'icd_dagger', 'disease_has_normal_cell_origin',
       'component_of', 'specimen_of', 'method_of', 'specialty_of',
       'do_not_code_with', 'active_metabolites_of', 'substance_used_by',
       'procedure_site_of', 'consumer_friendly_form_of', 'derives',
       'partially_excised_anatomy_has_procedure',
       'completely_excised_anatomy_has_procedure', 'receives_input_from',
       'sends_output_to', 'projects_from', 'arterial_supply_of',
       'is_exam_for', 'chemical_or_drug_initiates_biological_process',
       'biological_process_is_part_of_process', 'consider_from',
       'has_property', 'may_be_abnormal_cell_of_disease',
       'associated_procedure_of_excluded', 'has_consumer_friendly_form',
       'associated_procedure_of_possibly_included',
       'indirect_procedure_site_of',
       'disease_has_cytogenetic_abnormality',
       'disease_may_have_molecular_abnormality',
       'disease_may_have_cytogenetic_abnormality',
       'has_excluded_associated_finding', 'has_excluded_pathology',
       'associated_morphology_of', 'lymphatic_drainage_of', 'inheres_in',
       'finding_site_of', 'has_therapeutic_class',
       'biological_process_has_initiator_chemical_or_drug', 'has_suffix',
       'chemical_or_drug_has_physiologic_effect',
       'allele_plays_role_in_metabolism_of_chemical_or_drug',
       'biological_process_has_associated_location',
       'procedure_has_completely_excised_anatomy',
       'defining_characteristic_of', 'population_at_risk_for',
       'expected_outcome_of', 'actual_outcome_of', 'related_factor_of',
       'continuous_proximally_with', 'continuous_with', 'distal_to',
       'anterior_to', 'proximal_to', 'lateral_to', 'anterolateral_to',
       'direct_right_of', 'superior_to', 'surrounds', 'direct_left_of',
       'inferior_to', 'medial_to', 'posterior_to',
       'anatomic_structure_has_location', 'receives_attachment_from',
       'complex_has_physical_part', 'clinician_form_of',
       'nerve_supply_of', 'venous_drainage_of', 'receives_drainage_from',
       'develops_into', 'has_excluded_procedure_site', 'bounds',
       'related_object', 'adheres_to', 'gene_product_is_physical_part_of',
       'has_specimen_source_identity', 'homonym_for',
       'procedure_has_target_anatomy', 'has_finding_method',
       'anteroinferior_to', 'attaches_to', 'induced_by',
       'has_maneuver_type', 'has_pharmaceutical_route',
       'special_category_includes_neoplasm',
       'associated_genetic_condition',
       'may_be_associated_disease_of_disease',
       'is_molecular_abnormality_of_disease', 'articulates_with',
       'dose_form_of', 'has_view_type', 'has_direct_site',
       'has_tributary', 'sib_in_tributary_of', 'tributary_of',
       'connection_type_of', 'has_occurrence', 'is_target',
       'chemical_or_drug_affects_cell_type_or_tissue',
       'biological_process_has_result_anatomy',
       'gene_product_has_organism_source', 'has_single_level_category',
       'is_action_guidance_for', 'manufactures',
       'genetic_biomarker_related_to', 'has_target',
       'chromosome_mapped_to_disease', 'is_marked_by_gene_product',
       'gene_product_is_biomarker_type', 'has_possibly_included_method',
       'has_excluded_method', 'continuous_distally_with', 'homonym_of',
       'sign_or_symptom_of', 'has_class', 'measured_by',
       'has_panel_element', 'has_procedure_device', 'has_indirect_device',
       'concept_in_subset', 'has_multipart', 'add_on_code_for',
       'causative_agent_of', 'is_stage_of_disease', 'is_grade_of_disease',
       'relative_to_part_of', 'associated_disease',
       'gene_product_is_biomarker_of', 'has_arterial_supply',
       'has_specimen', 'uses_excluded_substance', 'has_quotient',
       'has_supersystem', 'has_basic_dose_form',
       'regimen_has_accepted_use_for_disease', 'associated_condition_of',
       'associated_finding_of', 'gene_is_biomarker_of', 'exhibits',
       'gene_product_is_element_in_pathway', 'gene_is_element_in_pathway',
       'biological_process_has_initiator_process',
       'biological_process_has_result_biological_process',
       'surrounded_by', 'has_entire_anatomy_structure',
       'has_multi_level_category', 'has_subject_relationship_context',
       'has_finding_informer', 'method_of_possibly_included',
       'has_measurement_method', 'role_has_domain',
       'gene_has_abnormality', 'role_has_range',
       'disease_mapped_to_chromosome',
       'cytogenetic_abnormality_involves_chromosome',
       'gene_in_chromosomal_location', 'has_lab_number', 'pathology_of',
       'anatomy_originated_from_biological_process',
       'supported_concept_property_in',
       'supported_concept_relationship_in', 'icd_asterisk',
       'has_possibly_included_component', 'has_projection',
       'receives_projection', 'has_venous_drainage',
       'has_transliterated_form', 'class_of', 'fragments_for_synonyms_of',
       'uses_access_device', 'effect_may_be_inhibited_by',
       'procedure_device_of', 'clinical_course_of', 'has_interpretation',
       'has_modality_subtype', 'focus_of', 'context_binding_of',
       'secondary_segmental_supply_of', 'segmental_supply_of',
       'primary_segmental_supply_of', 'anteromedial_to', 'has_adherent',
       'severity_of', 'derives_from', 'has_excluded_procedure_device',
       'uses_energy', 'cause_of', 'has_germ_origin',
       'chemical_or_drug_is_product_of_biological_process',
       'disease_excludes_normal_cell_origin', 'adjacent_to',
       'procedure_has_imaged_anatomy', 'matures_into',
       'surgical_extent_of', 'method_of_excluded', 'transforms_into',
       'has_subject', 'is_related_to_endogenous_product',
       'biological_process_involves_chemical_or_drug',
       'may_inhibit_effect_of', 'disease_has_abnormal_cell',
       'disease_may_have_abnormal_cell', 'connected_to', 'occurs_before',
       'procedure_may_have_completely_excised_anatomy',
       'has_state_of_matter', 'transforms_from', 'regulated_by',
       'chemical_or_drug_has_mechanism_of_action', 'organism_has_gene',
       'process_involves_gene', 'gene_product_encoded_by_gene',
       'related_to_genetic_biomarker',
       'molecular_abnormality_involves_gene',
       'is_chromosomal_location_of_gene',
       'pathogenesis_of_disease_involves_gene', 'disease_mapped_to_gene',
       'product_component_of', 'disease_excludes_abnormal_cell',
       'endogenous_product_related_to', 'owning_affiliate_of',
       'procedure_site_of_possibly_included', 'posterosuperior_to',
       'gene_product_variant_of_gene_product', 'has_locale',
       'gene_product_has_structural_domain_or_motif',
       'has_mechanism_of_action', 'has_excluded_patient_type',
       'route_of_administration_of', 'has_excluded_component',
       'is_metastatic_anatomic_site_of_disease',
       'is_cytogenetic_abnormality_of_disease', 'has_modality_type',
       'projects_to', 'excised_anatomy_may_have_procedure',
       'class_code_classified_by', 'has_context_binding',
       'owning_subsection_of', 'happens_during', 'reformulation_of',
       'developmental_stage_of', 'has_related_developmental_entity',
       'development_type_of', 'related_developmental_entity_of',
       'is_abnormality_of_gene', 'chromosomal_location_of_allele',
       'disease_has_associated_gene', 'has_procedure_context',
       'inherent_3d_shape_of', 'has_specialty', 'contained_in',
       'has_possibly_included_patient_type',
       'cell_type_or_tissue_affected_by_chemical_or_drug',
       'has_aggregation_view', 'intent_of',
       'disease_excludes_cytogenetic_abnormality',
       'chromosome_involved_in_cytogenetic_abnormality',
       'gene_involved_in_molecular_abnormality',
       'direct_procedure_site_of', 'approach_of', 'doseformgroup_of',
       'anterosuperior_to', 'has_add_on_code', 'continuation_branch_of',
       'has_owning_subsection', 'owning_section_of', 'characterizes',
       'priority_of', 'component_of_excluded', 'posteroinferior_to',
       'procedure_may_have_partially_excised_anatomy',
       'classifies_class_code', 'has_ingredients',
       'disease_may_have_normal_cell_origin', 'origin_of', 'insertion_of',
       'efferent_to', 'drains_into', 'afferent_to',
       'access_device_used_by', 'temporally_related_to',
       'gene_is_biomarker_type', 'has_owning_affiliate',
       'definitional_manifestation_of', 'is_interpreted_by',
       'has_physiologic_state',
       'chemical_or_drug_plays_role_in_biological_process',
       'posteromedial_to', 'full_grown_phenotype_of',
       'is_component_of_chemotherapy_regimen',
       'disease_has_accepted_treatment_with_regimen',
       'allele_has_abnormality', 'allelic_variant_of',
       'eo_anatomy_is_associated_with_eo_disease',
       'chemical_or_drug_affects_abnormal_cell',
       'completely_excised_anatomy_may_have_procedure',
       'partially_excised_anatomy_may_have_procedure',
       'has_excluded_locale', 'has_doseformgroup',
       'is_abnormality_of_gene_product', 'inactive_ingredient_of',
       'active_moiety_of', 'constitutes', 'ingredients_of',
       'risk_factor_of', 'during', 'interpretation_of',
       'finding_method_of', 'may_be_normal_cell_origin_of_disease',
       'laterality_of', 'has_surgical_approach',
       'has_possibly_included_approach', 'has_approach', 'has_priority',
       'has_contraindicating_mechanism_of_action',
       'contraindicated_mechanism_of_action_of', 'surgical_approach_of',
       'access_of', 'device_used_by', 'direct_device_of',
       'has_excluded_specimen', 'has_expected_outcome',
       'has_actual_outcome', 'modified_by', 'has_time_aspect',
       'procedure_device_of_possibly_included',
       'substance_used_by_possibly_included',
       'procedure_device_of_excluded', 'pathology_of_excluded',
       'pathology_of_possibly_included',
       'has_excluded_associated_procedure', 'procedure_site_of_excluded',
       'substance_used_by_excluded',
       'surgical_extent_of_possibly_included', 'procedure_morphology_of',
       'direct_morphology_of', 'surgical_extent_of_excluded',
       'patient_type_of', 'has_grade', 'approach_of_possibly_included',
       'has_possibly_included_associated_procedure', 'has_intent',
       'locale_of', 'associated_finding_of_possibly_included',
       'panel_element_of', 'specimen_of_excluded',
       'has_possibly_included_panel_element',
       'component_of_possibly_included', 'has_severity',
       'disease_is_grade', 'eo_disease_has_property_or_attribute',
       'has_laterality', 'has_lateral_anatomic_location', 'has_location',
       'has_surgical_extent', 'is_approach_guidance_for',
       'has_inherent_3d_shape', 'has_temporal_context',
       'has_clinical_course', 'has_lateral_location_presence',
       'has_finding_context', 'has_possibly_included_surgical_extent',
       'has_count_of_base_of_active_ingredient',
       'has_concentration_strength_denominator_value',
       'has_presentation_strength_denominator_value',
       'has_presentation_strength_numerator_value',
       'has_concentration_strength_numerator_value', 'has_count',
       'has_excluded_approach', 'has_scale_type',
       'disease_has_molecular_abnormality', 'version_of', 'has_origin',
       'has_insertion', 'right_lateral_to', 'right_medial_to',
       'left_medial_to', 'left_lateral_to', 'bounded_by', 'external_to',
       'has_continuation_branch', 'has_inherent_location',
       'has_lymphatic_drainage', 'has_part_anatomy_structure',
       'develops_from', 'merges_with', 'fuses_with', 'has_precondition',
       'has_inheritance_type', 'may_be_qualified_by',
       'pathological_process_of', 'neoplasm_has_special_category',
       'has_quantified_form', 'has_product_monograph_title',
       'consists_of', 'translation_of', 'has_pathological_process',
       'has_timing_of', 'system_of', 'property_of', 'analyzed_by',
       'scale_of', 'time_aspect_of', 'has_access', 'includes',
       'included_in', 'quantified_form_of', 'print_name_of', 'suffix_of',
       'multipart_of', 'divisor_of', 'quotient_of', 'answer_to',
       'supersystem_of', 'challenge_of', 'adjustment_of', 'count_of',
       'approach_of_excluded', 'patient_type_of_excluded',
       'associated_finding_of_excluded',
       'route_of_administration_of_possibly_included',
       'panel_element_of_possibly_included', 'direct_substance_of',
       'includes_sub_specimen', 'has_scale',
       'has_presentation_strength_numerator_unit',
       'has_concentration_strength_numerator_unit',
       'has_concentration_strength_denominator_unit',
       'has_presentation_strength_denominator_unit', 'has_episodicity',
       'has_revision_status', 'has_time_modifier',
       'has_excluded_surgical_extent', 'disease_is_stage',
       'has_supported_concept_property', 'has_adjustment',

In [23]:
df['DIR'].value_counts(dropna=False)

NaN    13225880
Y       1322882
Name: DIR, dtype: int64

In [24]:
df.to_csv('data/relations.csv', index=None)

In [5]:
df = pd.read_csv('data/relations.csv')

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (9,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df.head()

,CUI1,AUI1,STYPE1,REL,CUI2,AUI2,STYPE2,RELA,RUI,SRUI,SAB,SL,RG,DIR,SUPPRESS,CVF
0,C0000039,A0016515,SDUI,RN,C0043950,A0137399,SDUI,mapped_to,R148171650,NaN,MSH,MSH,1.0,NaN,N,NaN
1,C0000039,A0016515,SDUI,RN,C0216971,A0376033,SDUI,mapped_to,R148183528,NaN,MSH,MSH,1.0,NaN,N,NaN
2,C0000039,A18399186,SCUI,RO,C0364349,A18182073,SCUI,has_component,R165238590,NaN,LNC,LNC,NaN,NaN,N,NaN
3,C0000039,A23513030,SCUI,RO,C0364349,A18182073,SCUI,measures,R167106427,NaN,LNC,LNC,NaN,NaN,N,NaN
4,C0000039,A0016515,SDUI,RN,C0381030,A0683149,SDUI,mapped_to,R148166148,NaN,MSH,MSH,1.0,NaN,N,NaN

In [13]:
df[(df['CUI2']=='C0022658') &  (df['CUI1']=='C1335036')]

,CUI1,AUI1,STYPE1,REL,CUI2,AUI2,STYPE2,RELA,RUI,SRUI,SAB,SL,RG,DIR,SUPPRESS,CVF
7580167,C1335036,A25769044,SCUI,PAR,C0022658,A25760652,SCUI,inverse_isa,R69823779,NaN,NCI,NCI,NaN,NaN,N,NaN
7580168,C1335036,A25769044,SCUI,CHD,C0022658,A7568258,SCUI,isa,R69846454,NaN,NCI,NCI,NaN,NaN,N,NaN

In [14]:
df[(df['CUI1']=='C0022658') &  (df['CUI2']=='C1335036')]

,CUI1,AUI1,STYPE1,REL,CUI2,AUI2,STYPE2,RELA,RUI,SRUI,SAB,SL,RG,DIR,SUPPRESS,CVF
950660,C0022658,A7568258,SCUI,PAR,C1335036,A25769044,SCUI,inverse_isa,R69794135,NaN,NCI,NCI,NaN,NaN,N,NaN
950661,C0022658,A25760652,SCUI,CHD,C1335036,A25769044,SCUI,isa,R69802575,NaN,NCI,NCI,NaN,NaN,N,NaN

In [24]:
df['RELA'].nunique()

822

In [25]:
df['RELA'].nunique()

822

## Semantic Type

In [28]:
# query = """
# select * from MRSTY where CUI in 
# (select distinct CUI from MRCONSO WHERE SUPPRESS='N' AND LAT = 'ENG' 
# AND TS = 'P' AND ISPREF = 'Y' AND SAB ='SNOMEDCT_US')
# """

query = """
select * from MRSTY
"""


df = pd.read_sql_query(query, sql_engine)

In [29]:
df.head()

        CUI   TUI       STN                           STY        ATUI    CVF
0  C0070474  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863947  256.0
1  C0678518  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863951  256.0
2  C0684279  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863958  256.0
3  C0684298  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863959  256.0
4  C0684300  T104  A1.4.1.2  Chemical Viewed Structurally  AT07863960  256.0

In [30]:
df = df[['CUI', 'TUI', 'STN', 'STY']]

In [31]:
df.head()

        CUI   TUI       STN                           STY
0  C0070474  T104  A1.4.1.2  Chemical Viewed Structurally
1  C0678518  T104  A1.4.1.2  Chemical Viewed Structurally
2  C0684279  T104  A1.4.1.2  Chemical Viewed Structurally
3  C0684298  T104  A1.4.1.2  Chemical Viewed Structurally
4  C0684300  T104  A1.4.1.2  Chemical Viewed Structurally

In [32]:
df.to_csv('data/semantype.csv', index=None)

In [33]:
df = pd.read_csv('data/semantype.csv')

In [34]:
g = df.groupby('CUI')['TUI'].apply(lambda x: len(list(np.unique(x))))

In [35]:
sty_df = g.reset_index()

In [36]:
sty_df['TUI'].unique()

array([3, 2, 1, 4])

In [37]:
df = df.drop_duplicates(['TUI', 'STY'])

In [38]:
df.head()

            CUI   TUI           STN                           STY
0      C0070474  T104      A1.4.1.2  Chemical Viewed Structurally
78     C0678220  T201        A2.3.1            Clinical Attribute
31148  C0337636  T057          B1.3         Occupational Activity
31430  C0302897  T103        A1.4.1                      Chemical
31432  C0010596  T013  A1.1.3.1.1.3                          Fish

In [39]:
df.to_csv('data/stypes.csv', index=None)

In [21]:
df = pd.read_csv('data/stypes.csv')

In [22]:
df.shape

(127, 4)

In [44]:
g = df.groupby('TUI')['STY'].apply(lambda x: len(list(np.unique(x))))

In [45]:
sty_df = g.reset_index()

In [46]:
sty_df['STY'].unique()

array([1])

In [47]:
sty_df[sty_df['STY'] > 1]

Empty DataFrame
Columns: [TUI, STY]
Index: []

### Load to neo4j by cypher-shell

#### Avoid empty fields, otherwise the nodes cannot be ingested to neo4j

In [ ]:
cypher-shell -u neo4j -p NeO4J

In [ ]:
# Concepts
CREATE CONSTRAINT ON (c:Concepts) ASSERT c.id IS UNIQUE;
CREATE INDEX ON :Concepts(cui); // 2 ms
    
USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/concepts.csv" as line
with line
MERGE (:Concepts
        { id: line.CUI, cui: line.CUI, name: line.STR});

In [171]:
# MATCH (n:Concepts)
# DETACH DELETE n;

In [ ]:
# atom for Snomed
CREATE CONSTRAINT ON (c:Terms) ASSERT c.id IS UNIQUE;
CREATE INDEX ON :Terms(code); // 2 ms
    
USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/subconcepts.csv" as line
with line
MERGE (:Terms
        {id: line.AUI, aui: line.AUI, code: line.CODE, name: line.STR, vocabulary: line.SAB});

In [ ]:
# ICD9CM:  Terms: change SCUI to CODE
CREATE INDEX ON :Terms(other_code); // 2 ms
USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/icd9-subconcepts.csv" as line
with line
MERGE (:Terms
        {id: line.AUI, aui: line.AUI, code: line.CODE, other_code: line.other_scui, name: line.STR, vocabulary: line.SAB});

In [ ]:
# ICD10:  Terms: change SCUI to CODE

USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/icd10-subconcepts.csv" as line
with line
MERGE (:Terms
        {id: line.AUI, aui: line.AUI, code: line.CODE, name: line.STR, vocabulary: line.SAB});

In [172]:
# MATCH (n:Terms)
# DETACH DELETE n;

In [ ]:
# scui_2_cui SNOMED
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/subconcepts.csv" AS csvLine
MATCH (con:Concepts {id: csvLine.CUI}),(subc:Terms {id: csvLine.AUI})
MERGE (subc)-[:aui_2_cui]->(con);

In [ ]:
# scui_2_cui ICD9CM
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/icd9-subconcepts.csv" AS csvLine
MATCH (con:Concepts {id: csvLine.CUI}),(subc:Terms {id: csvLine.AUI})
MERGE (subc)-[:aui_2_cui]->(con);

In [ ]:
# scui_2_cui ICD9CM
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/icd10-subconcepts.csv" AS csvLine
MATCH (con:Concepts {id: csvLine.CUI}),(subc:Terms {id: csvLine.AUI})
MERGE (subc)-[:aui_2_cui]->(con);

In [173]:
# MATCH (r:scui_2_cui)
# DELETE r;

In [19]:
df = pd.read_csv('data/relations.csv')

In [20]:
sum(df['REL'].isna())

0

In [ ]:
# cui_2_cui
# Change order of CUI1 and CUI2
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/relations.csv" AS csvLine
MATCH (con1:Concepts {id: csvLine.CUI1}),(con2:Concepts {id: csvLine.CUI2})
MERGE (con1)<-[:cui_2_cui {relation: csvLine.RELA, general_relation: csvLine.REL}]-(con2);

In [174]:
# MATCH (r:cui_2_cui)
# DELETE r;

In [14]:
df = pd.read_csv('data/stypes.csv')

In [17]:
sum(df['STN'].isna())

0

In [ ]:
# Drop INDEX ON :SemanticTypes(tui)
# Drop CONSTRAINT ON (c:SemanticTypes) ASSERT c.id IS UNIQUE

In [ ]:
# Semantic_type
CREATE CONSTRAINT ON (c:Types) ASSERT c.id IS UNIQUE;
CREATE INDEX ON :Types(tui); // 2 ms
    
USING PERIODIC COMMIT 500
LOAD csv with headers from "file:///home/ubuntu/snomed/data/stypes.csv" as line
with line
MERGE (:Types
        { id: line.TUI, tui: line.TUI, name: line.STY, chapter: line.STN} );

In [18]:
df = pd.read_csv('data/semantype.csv')

In [ ]:
sum(df['STN'].isna())

In [ ]:
USING PERIODIC COMMIT 500
LOAD CSV WITH HEADERS FROM "file:///home/ubuntu/snomed/data/semantype.csv" AS csvLine
MATCH (con1:Concepts {id: csvLine.CUI}),(con2:Types {id: csvLine.TUI})
MERGE (con1)-[:cui_2_tui]->(con2);

In [175]:
# MATCH (n:SemanticTypes)
# DETACH DELETE n;

In [176]:
# MATCH (r:cui_2_tui)
# DELETE r;