In [54]:
import pandas as pd

In [77]:
# df = pd.read_csv('data/Result4. SVC_RBF_cui2vec_pred_90_100_samples.csv')
df = pd.read_csv('data/Result4. SVC_RBF_cui2vec_pred_90_100_samples_F2.csv')

In [79]:
# Some patients have multiple admissions
print(df['subject_id'].nunique(), df.shape, df['hadm_id'].nunique())

98 (100, 504) 100

In [57]:
# df['subject_id'].value_counts()

In [58]:
notesf = pd.read_csv("data/mimic_notes.csv")

/home/ubuntu/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [92]:
notes = notesf[notesf['hadm_id'].isin(df['hadm_id'])]

In [93]:
# 100 patients have 7696 notes
print(notes['subject_id'].nunique(), notes.shape)

98 (5425, 18)

In [94]:
df = df.head(50)

In [95]:
notes = notes[notes['hadm_id'].isin(df['hadm_id'])]

In [96]:
# 50 patients have 4134 notes
print(notes['subject_id'].nunique(), notes.shape)

49 (2866, 18)

In [97]:
notes['subject_id'].nunique()

49

In [98]:
notes = notes.sort_values(['subject_id', 'subject_id', 'charttime'])

In [99]:
notes.head()

,row_id,subject_id,hadm_id,chartdate,charttime,storetime,category,description,cgid,iserror,text,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,etl_date
1269228,936510,346,195392.0,2149-11-29 00:00:00,2149-11-29 20:47:00,NaN,Radiology,DISTINCT PROCEDURAL SERVICE,NaN,NaN,[**2149-11-29**] 8:47 PM\n CHEST (PORTABLE AP)...,F,2064-03-29 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,1,2001-01-15 12:21:13
1241656,1265105,346,195392.0,2149-11-29 00:00:00,2149-11-29 21:21:00,2149-11-29 21:32:00,Nursing/other,Report,20111.0,NaN,Respiratory Therapy\n85 Y.O F adm to unit S/P ...,F,2064-03-29 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,1,2002-01-15 12:21:13
1271834,936524,346,195392.0,2149-11-29 00:00:00,2149-11-29 23:24:00,NaN,Radiology,BY DIFFERENT PHYSICIAN,NaN,NaN,[**2149-11-29**] 11:24 PM\n CHEST PORT. LINE P...,F,2064-03-29 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,1,2001-01-15 12:21:13
1271105,936530,346,195392.0,2149-11-30 00:00:00,2149-11-30 01:14:00,NaN,Radiology,CT ABD W&W/O C,NaN,NaN,[**2149-11-30**] 1:14 AM\n CTA CHEST W&W/O C &...,F,2064-03-29 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,1,2001-01-15 12:21:13
1241657,1265106,346,195392.0,2149-11-30 00:00:00,2149-11-30 03:46:00,2149-11-30 04:00:00,Nursing/other,Report,21297.0,NaN,Ms. [**Known lastname **] is an 85 year old fe...,F,2064-03-29 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,2149-12-05 00:00:00,1,2002-01-15 12:21:13

In [100]:
notes['category'].value_counts()

Nursing/other        1130
Radiology             655
Nursing               447
Physician             223
ECG                   137
Respiratory           111
Discharge summary      54
General                35
Echo                   26
Nutrition              24
Rehab Services         15
Social Work             9
Name: category, dtype: int64

In [101]:
# notes['row_id'].tolist()

In [102]:
notes.to_csv('data/validation_text.csv', index=None)

In [103]:
admins = notes[['hadm_id']].drop_duplicates()

In [104]:
admins.to_csv('data/validation_admin_ids.csv', index=None)

In [68]:
from elastic_util import *
from elasticsearch import Elasticsearch
from elasticsearch_dsl import Q

In [69]:
client = Elasticsearch('http://elastic:Admin2019@10.200.112.204:9200', request_timeout=6000, retry_on_timeout=True)

In [70]:
index = 'mimic_medcat'
doc_type = 'doc'

In [71]:
dfs = []
for row_id in notes['row_id']:
    q = Q("match", row_id=row_id)
    s = Search(using=client, index=index, doc_type=doc_type).filter(q)
    df = pd.DataFrame((d.to_dict() for d in s.scan()))
    dfs.append(df)
all_df = pd.concat(dfs)

In [72]:
all_df.head()

,pretty_name,cui,tui,type,source_value,acc,start,end,info,id,meta_anns,row_id
0,History of present illness,C0262512,T033,Finding,HPI,0.6417686786723709,8,11,{'snomed': ['S-51042001']},308,"{'Negated': {'name': 'Negated', 'value': 'No'}...",725945
1,Males,C0086582,T032,Organism Attribute,man,0.4800480452089832,22,25,"{'snomed': ['S-10052007', 'S-139866003', 'S-16...",309,"{'Negated': {'name': 'Negated', 'value': 'No'}...",725945
2,Medical History,C0262926,T033,Finding,PMH,1,31,34,{'snomed': ['S-392521001']},0,"{'Negated': {'name': 'Negated', 'value': 'No'}...",725945
3,cell non-small,C0445128,T080,Qualitative Concept,Non small cell,1,38,52,{'snomed': ['S-264885008']},1,"{'Negated': {'name': 'Negated', 'value': 'No'}...",725945
4,Entire lung,C1278908,T023,"Body Part, Organ, or Organ Component",lung,0.38551543109111447,53,57,{'snomed': ['S-181216001']},311,"{'Negated': {'name': 'Negated', 'value': 'No'}...",725945

In [73]:
all_df.shape

(270252, 12)